{% extends 'base.html' %}

{% block title %} Vertical Tank Maintenance {% endblock %}


{% block body %}
<h1>Welcome to VTM!</h1>
<hr>
<br>
<section>
    <img src="/static/images/above_ground_vertical_tanks.jpg" alt="">
</section>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non enim praesent elementum facilisis. Gravida neque convallis a cras semper. A lacus vestibulum sed arcu. Nunc lobortis mattis aliquam faucibus purus in massa tempor nec. Ipsum a arcu cursus vitae congue mauris. Fusce ut placerat orci nulla. Praesent tristique magna sit amet purus. In hac habitasse platea dictumst vestibulum rhoncus est. Faucibus pulvinar elementum integer enim neque volutpat ac tincidunt vitae. Aenean vel elit scelerisque mauris pellentesque. Id eu nisl nunc mi ipsum faucibus vitae aliquet. Magna eget est lorem ipsum. </p>
<section>

</section>

{% endblock %}